.author-icon{font-size: 30px;}
.iconfont-img{margin-top:15px;margin-bottom: 30px;}
@media only screen and (min-width: 1201px) {
    .fusion-slider{height:600px;background-size: cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/banner.png',sizingMethod='scale');}
    .fusion-slider h1{ font-size: 32px;margin-top: 160px;font-weight: 100;}
    .fusion-slider h2{ font-size: 82px;margin-top: 10px;font-weight: 200;*margin-bottom:30px;}
    .fusion-slider-button{margin-top: 20px;}
    .col-lg-4{*width:30%!important;}
    .col-lg-6{*width:49%!important;}
    .col-lg-5{*width:37.5%!important;}
}
@media only screen and (max-width: 1200px) {
    .fusion-slider{width:100%;height:0;padding-bottom: 50%;background-size: cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/banner.png',sizingMethod='scale');}
    .fusion-slider h1{ font-size: 32px;margin-top: 110px;font-weight: 100;}
    .fusion-slider h2{ font-size: 82px;margin-top: 10px;}
    .fusion-slider-button{margin-top: 20px;}
}
@media only screen and (max-width: 1150px) {
    .fusion-slider{width:100%;height:0;padding-bottom: 50%;background-size: cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/banner.png',sizingMethod='scale');}
    .fusion-slider h1{ font-size: 32px;margin-top: 110px;font-weight: 100;}
    .fusion-slider h2{ font-size: 84px;margin-top: 10px;}
    .fusion-slider-button{margin-top: 20px;}
}
@media only screen and (max-width: 1100px) {
    .fusion-slider{width:100%;height:0;padding-bottom: 50%;background-size: cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/banner.png',sizingMethod='scale');}
    .fusion-slider h1{ font-size: 32px;margin-top: 90px;font-weight: 100;}
    .fusion-slider h2{ font-size: 80px;margin-top: 10px;}
    .fusion-slider-button{margin-top: 20px;}
}
@media only screen and (max-width: 1050px) {
    .fusion-slider{width:100%;height:0;padding-bottom: 50%;background-size: cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/banner.png',sizingMethod='scale');}
    .fusion-slider h1{ font-size: 32px;margin-top: 90px;font-weight: 100;}
    .fusion-slider h2{ font-size: 76px;margin-top: 10px;}
    .fusion-slider-button{margin-top: 20px;}
}
@media only screen and (max-width: 1000px) {
    .fusion-slider{width:100%;height:0;padding-bottom: 50%;background-size: cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/banner.png',sizingMethod='scale');}
    .fusion-slider h1{ font-size: 32px;margin-top: 90px;font-weight: 100;}
    .fusion-slider h2{ font-size: 72px;margin-top: 10px;}
    .fusion-slider-button{margin-top: 20px;}
}
@media only screen and (max-width: 950px) {
    .fusion-slider{width:100%;height:0;padding-bottom: 50%;background-size: cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/banner.png',sizingMethod='scale');}
    .fusion-slider h1{ font-size: 32px;margin-top: 90px;font-weight: 100;}
    .fusion-slider h2{ font-size: 68px;margin-top: 10px;}
    .fusion-slider-button{margin-top: 20px;}
}
@media only screen and (max-width: 900px) {
    .fusion-slider{width:100%;height:0;padding-bottom: 50%;background-size: cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/banner.png',sizingMethod='scale');}
    .fusion-slider h1{ font-size: 26px;margin-top: 90px;font-weight: 100;}
    .fusion-slider h2{ font-size: 62px;margin-top: 10px;}
    .fusion-slider-button{margin-top: 20px;}
}
@media only screen and (max-width: 850px) {
    .fusion-slider{width:100%;height:0;padding-bottom: 50%;background-size: cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/banner.png',sizingMethod='scale');}
    .fusion-slider h1{ font-size: 26px;margin-top: 90px;font-weight: 100;}
    .fusion-slider h2{ font-size: 60px;margin-top: 10px;}
    .fusion-slider-button{margin-top: 20px;}
}
@media only screen and (max-width: 800px) {
    .fusion-slider{width:100%;height:0;padding-bottom: 50%;background-size: cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/banner.png',sizingMethod='scale');}
    .fusion-slider h1{ font-size: 32px;margin-top: 70px;font-weight: 100;}
    .fusion-slider h2{ font-size: 76px;margin-top: 10px;}
    .fusion-slider-button{margin-top: 20px;}
}
@media only screen and (max-width: 750px) {
    .fusion-slider{width:100%;height:0;padding-bottom: 50%;background-size: cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/banner.png',sizingMethod='scale');}
    .fusion-slider h1{ font-size: 32px;margin-top: 70px;font-weight: 100;}
    .fusion-slider h2{ font-size: 72px;margin-top: 10px;}
    .fusion-slider-button{margin-top: 20px;}
}
@media only screen and (max-width: 700px) {
    .fusion-slider{width:100%;height:0;padding-bottom: 50%;background-size: cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/banner.png',sizingMethod='scale');}
    .fusion-slider h1{ font-size: 32px;margin-top: 60px;font-weight: 100;}
    .fusion-slider h2{ font-size: 68px;margin-top: 10px;}
    .fusion-slider-button{margin-top: 20px;}
}
@media only screen and (max-width: 650px) {
    .fusion-slider{width:100%;height:0;padding-bottom: 50%;background-size: cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/banner.png',sizingMethod='scale');}
    .fusion-slider h1{ font-size: 30px;margin-top: 60px;font-weight: 100;}
    .fusion-slider h2{ font-size: 62px;margin-top: 10px;}
    .fusion-slider-button{margin-top: 20px;}
}
@media only screen and (max-width: 600px) {
    .fusion-slider{width:100%;height:0;padding-bottom: 300px;background-size: cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/banner.png',sizingMethod='scale');}
    .fusion-slider h1{ font-size: 26px;margin-top: 60px;font-weight: 100;}
    .fusion-slider h2{ font-size: 58px;margin-top: 10px;}
    .fusion-slider-button{margin-top: 20px;}
}
@media only screen and (max-width: 550px) {
    .fusion-slider{width:100%;height:0;padding-bottom: 300px;background-size: cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/banner.png',sizingMethod='scale');}
    .fusion-slider h1{ font-size: 24px;margin-top: 60px;font-weight: 100;}
    .fusion-slider h2{ font-size: 52px;margin-top: 10px;}
    .fusion-slider-button{margin-top: 20px;}
}
@media only screen and (max-width: 500px) {
    .fusion-slider{width:100%;height:0;padding-bottom: 300px;background-size: cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/banner.png',sizingMethod='scale');}
    .fusion-slider h1{ font-size: 24px;margin-top: 70px;font-weight: 100;}
    .fusion-slider h2{ font-size: 48px;margin-top: 10px;}
    .fusion-slider-button{margin-top: 20px;}
}
@media only screen and (max-width: 450px) {
    .fusion-slider{width:100%;height:0;padding-bottom: 300px;background-size: cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/banner.png',sizingMethod='scale');}
    .fusion-slider h1{ font-size: 24px;margin-top: 70px;font-weight: 100;}
    .fusion-slider h2{ font-size: 44px;margin-top: 10px;}
    .fusion-slider-button{margin-top: 20px;}
}
@media only screen and (max-width: 400px) {
    .fusion-slider{width:100%;height:0;padding-bottom: 300px;background-size: cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/banner.png',sizingMethod='scale');}
    .fusion-slider h1{ font-size: 24px;margin-top: 70px;font-weight: 100;}
    .fusion-slider h2{ font-size: 36px;margin-top: 10px;}
    .fusion-slider-button{margin-top: 20px;}
}
@media only screen and (max-width: 350px) {
    .fusion-slider{width:100%;height:0;padding-bottom: 300px;background-size: cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/banner.png',sizingMethod='crop');}
    .fusion-slider h1{ font-size: 24px;margin-top: 70px;font-weight: 100;}
    .fusion-slider h2{ font-size: 32px;margin-top: 10px;}
    .fusion-slider-button{margin-top: 20px;}
}
@media only screen and (max-width: 300px) {
    .fusion-slider{width:100%;height:0;padding-bottom: 300px;background-size: cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/banner.png',sizingMethod='crop');}
    .fusion-slider h1{ font-size: 22px;margin-top: 70px;font-weight: 100;}
    .fusion-slider h2{ font-size: 30px;margin-top: 10px;}
    .fusion-slider-button{margin-top: 20px;}
}

/*@media only screen and  (min-width: 1201px){*/
    /*.fusion-slider{height:600px;background-size: cover;}*/
/*}*/
/*@media only screen and  (max-width: 600px){*/
    /*.fusion-slider{height:300px;background-size: auto 100%;}*/
    /*.fusion-slider h1{font-weight: 100;}*/
/*}*/
/*@media only screen and (min-width: 601px) and (max-width: 1200px){*/
    /*.fusion-slider{width:100%;height:0;padding-bottom: 50%;background-size: cover;}*/
/*}*/